<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-container bg-black">
<h1>Cadastrar Email</h1>
 <form #f="ngForm" (submit)="form_sing(f)" >

<div>
	<label >Email</label>
	<div class="input-group">
<span class="input-group-addon"><i class="ra ra-book ra-fw"></i></span>
	<input   type="text" ngModel name="email" placeholder="Email" />
	</div>
</div>
<div>
	<label >Senha</label>
	<div class="input-group">
<span class="input-group-addon"><i class="ra ra-three-keys ra-fw"></i></span>
	<input   type="password" ngModel name="senha"  placeholder="Senha" />
	</div>
</div>

<button  type="submit">Cadastro</button>

</form>
</div>