<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-container bg-black">
<form #f="ngForm" (submit)="form_login(f)">
<h1> Login </h1>
<div class="form-group">
<i class="ra ra-book ra-2x"></i>
<label>Email</label>
	<input class="form-control" type="text" ngModel name="email" placeholder="Email" />
</div>

<div class="form-group">
<i class="ra ra-book ra-2x"></i>
<label>Senha</label>
	<input class="form-control" type="password" ngModel name="senha" placeholder="Senha" />
</div>

<button class="form-control" type="submite">Logar</button>



</form>
</div>